<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../.././partials/pc/head'); %>
</script>
  <title>CenturyBot</title>
</head>
<body class="dark">
  <main class="container"><h1><codeNOBOOTBUTTON onclick="window.open('https://discord.com/oauth2/authorize?client_id=809298692845731841&permissions=8&scope=bot%20applications.commands', '_blank')">Invite CenturyBot</codeNOBOOTBUTTON></h1></main>
</body>
</html>