<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../.././partials/pc/head'); %>
</head>
<body class="dark">
  <!-- <div class="loader-wrap"><span class="loader"></span></div> -->
  
  <div class="content">
  <header>
    <%- include('../.././partials/header'); %>
  </header>
  
  <main class="container"><br>
      <h1><br><center><codenoboot>Century</codenoboot></center></h1><br><br>
      <div class="jumbotron bg-dark">
        <h1 style="color: white">About Century</h1>
        <p style="color: white">texttexttexttexttexttexttexttexttexttexttexttext</h1>
      </div>
  </main>
  
  <footer>
    <%- include('../.././partials/footer'); %>
  </footer>
  </div>

  <script>
    $(window).on("load",function(){
      $("content").fadeIn("slow")
    })
  </script>
  
  </body>
</html>