<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../.././partials/mobile/head'); %>
</head>
<body class="dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Century</a>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/mobile/about">About</a>
      </nav>
</body>
</html>