<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 (<%= url %>)</title>
</head>
<body class="dark">
  <style>
    .dark {
      background: #222;
      color: white;
      font-family: arial;
    }
    codeNOBOOT {
        color: black;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        background: grey;
        border: solid grey 2px;
        border-radius: 5px;
        cursor: none;
    }
  </style>
<main>
    <center>
    <h1 style="font-family: Impact;">404</h1>
    <h2>COULD NOT FIND <codeNOBOOT><%= url %></codeNOBOOT></h2>
    <a href="/">home</a>
    </center>
</main>
</body>
</html>