<!DOCTYPE html>
<html lang="en">
<head>
  <title>500</title>
</head>
<body class="dark">
  <style>
    .dark {
      background: #222;
      color: white;
      font-family: arial;
    }
    codeNOBOOT {
        color: black;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        background: grey;
        border: solid grey 2px;
        border-radius: 5px;
        cursor: none;
    }
  </style>
    <center>
    <h1 style="font-family: Impact;">500</h1>
    <h2>ERROR: <%= ERROR %></h2>
    <a href="/">home</a>
    </center>
</body>
</html>